.gridsizeSelector{
    display: block;
}

.gameGrid {
    margin-top: 40px;
}

#startButton{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: white;
    color: #999999;
    border-radius: 4px;
    padding: 20px;
}